@reference "tailwindcss";


@layer components {

  .text-data {
    @apply text-xs text-gray-400
  }

  .text-label {
    @apply text-sm text-gray-800 font-medium
  }
  
  button {
    @apply cursor-pointer
  }

  .btn-navbar {
    @apply flex items-center  justify-center gap-1 text-sky-900 hover:text-white  bg-white hover:bg-sky-400 rounded-full duration-300
  }
}



.swiper-button-next,
.swiper-button-prev {
  color: rgb(32, 196, 81);
}

.swiper-pagination-bullet {
  background: rgb(255, 255, 255);
}

.swiper-pagination-bullet-active {
  opacity: 1;
}