@import "tailwindcss";

/* @variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:where(.dark, .dark *));
/* @layer components {
  .primary-color {
    @apply bg-gray-800;
  }

  .secondary-color {
    @apply bg-[#F0EDEE];
  }

  button {
    @apply cursor-pointer
  }
} */

/* @layer components {

  .swiper-button-next,
  .swiper-button-prev {
    @apply text-white;
  }
} */

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.swiper-pagination-bullet {
  background: white;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}